<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= video.description %>
  </p>

  <p>
    <strong>Filename:</strong>
    <%= video.filename %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= video.link %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= video.image %>
  </p>

  <p>
    <strong>Tv:</strong>
    <%= video.tv_id %>
  </p>

</div>
